{%- comment -%}Optional order info as line item properties{%- endcomment -%}
<details class="line-item-props">
  <summary>Additional Order Information (optional)</summary>
  <div class="props-body">
    <div class="field">
      <label class="field-label" for="prop-hospital">Hospital / Clinic Name</label>
      <input type="text" id="prop-hospital" class="field-input" name="properties[Hospital]" placeholder="e.g. Apollo Hospitals, Hyderabad">
    </div>
    <div class="field">
      <label class="field-label" for="prop-po">PO Number (optional)</label>
      <input type="text" id="prop-po" class="field-input" name="properties[PO Number]" placeholder="e.g. PO-2026-00432">
    </div>
    <div class="field">
      <label class="field-label" for="prop-date">Surgical Date</label>
      <input type="date" id="prop-date" class="field-input" name="properties[Surgical Date]">
    </div>
    <div class="field">
      <label class="field-label" for="prop-doc">Doctor Name</label>
      <input type="text" id="prop-doc" class="field-input" name="properties[Doctor]" placeholder="Dr. ...">
    </div>
  </div>
</details>
